.task {
  width: 1200px;
  text-align: center;
  margin: 50px auto 0;
  padding-bottom: 50px;
  border: 1px solid saddlebrown;
}

.tabs__menu {
  width: 80%;
  margin: auto;
  border: 1px solid blue;
}

.tabs__link {
  display: block;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid black;
  font-size: 18px;
  background-color: cornsilk;
}

.tabs__link_active {
  border: 1px solid green;
}

.tabs__content {
  display: none;
}

.tabs__content_active {
  display: block;
}

.tabs___image {
  width: 40%;
  display: block;
  margin: 20px auto;
}

.tabs___text {
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
}
