.task {
  width: 1200px;
  text-align: center;
  margin: 50px auto;
  border: 1px solid saddlebrown;
}

.tabs__menu {
  width: 80%;
  margin: 0 auto 20px;
  border: 1px solid blue;
}

.tabs__link {
  display: block;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid black;
  font-size: 18px;
}

.tabs__link_active {
  border: 1px solid green;
  background-color: cornsilk;
}

.tabs__content {
  display: none;
}

.tabs__content_active {
  display: block;
}

.tabs___image {
  width: 40%;
  display: block;
  margin: 20px auto;
}

.tabs___text {
  font-size: 20px;
}
